
a { text-decoration: none; font-weight: bold; }
a:link { color: #009; }
a:visited { color: #606; }

.hidden {
    display: none;
}
.right {
    float: right;
}
.buttons {
    margin-top: 1ex;
}
#header h1 {
}
#navbar {
    font-weight: bold;
}
#navbar li {
    color: #777;
}
#navbar li.enabled {
    color: black;
}
#navbar li.enabled:hover {
    cursor: pointer;
    color: #009;
}
#navbar li.selected:hover {
    cursor: inherit;
    color: inherit;
}
#navbar .selected:after {
    content: " →";
}
#messageNav .set {
    cursor: pointer;
}
#messageNav .selected {
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

#footer {
    color: #333;
    border-top: 2px solid #ccc;
    margin-top: 3ex;
    padding-top: 1ex;
}

.privateKey {
    border: 4px solid red;
    background: #faa;
    width: 220px;
}
.publicKey {
    border: 4px solid green;
    background: #afa;
    width: 220px;
}
.clear {
    clear: both;
}
.spaced li {
    margin-bottom: 1ex;
}
.error {
    color: red;
    background: yellow;
    font-weight: bold;
    padding: 0 1em;
}
.okay {
    color: #060;
    background: #cfc;
    font-weight: bold;
    padding: 0 1em;
}
#sendPage .row {
    margin-bottom: 1ex;
}
#sendPage label {
    float: left;
    width: 60px;
    text-align: right;
    display: block;
}
#sendPage input, #sendPage select, #sendPage textarea {
    margin-left: 10px;
}
#sendPage #sendButton {
    margin-left: 70px;
}
.header b, .messageButtons {
    float: left;
    width: 140px;
    text-align: right;
    display: block;
}
.header span {
    margin-left: 10px;
}
.messageButtons span {
    border: 1px solid #333;
    padding: .3ex 1ex;
}
.messageButtons span:hover {
    cursor: pointer;
}
.messageBody pre, .decryptResult {
    margin: 1ex 0 1ex 150px;
}
.message {
    margin-bottom: 3ex;
}
